<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/png" href="{{ '/assets/origami.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>
<body>
    <nav class="main-nav">
        <h1 class="header"> logesh </h1>
      <div class="section-headers">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/blogs.html' | relative_url }}">Blogs</a>
        <a href="{{ '/projects.html' | relative_url }}">Projects</a>
      </div>
    </nav>
    <main>
        <!-- {{ content }} -->
    </main>
</body>
</html>
